*{
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.navbar-brand{
    font-size: 40px;
}



.card{
    font-size: 15px;
    height: 20rem;
    width: 14rem;
    margin: 10px 10px;
    color: #4f4b4b;
}



.clock {
    position:relative;
    transform:scale(2);
    border-radius:50%;
    border:2px solid;
    width:50px;
    height:50px;
    position:relative;
}

.clock:after {
    position:absolute;
    width:0px;
    height:20px;
    display:block;
    border-left:2px solid #000;
    content:'';
    left:22px;
    top:4px;
    animation-duration: 1s;
}

/*clock animation*/
/*******************************************************/
.clock:before {
    position:absolute;
    width:0px;
    height:20px;
    display:block;
    border-left:2px solid #000;
    content:'';
    left:22px;
    top:5px;
    animation-duration: 60s;
}

.clock:before,.clock:after {
    transform-origin: bottom;
    animation-name: dial;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes dial {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


.onload{
position: absolute;
    right: 100px;
    top: 200px;
    display: none;
}
.pageLoad{
    font-size: 30px;
    color: lightskyblue;
}


/*******************************************/

.form{

padding: 20px 20px;
    background-color: darkgoldenrod;
border-radius: 10px;
    position: -webkit-sticky;
    margin-right: auto;

}
.all-forms{

}

#card1{
    background-color: khaki;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
}
